/* The Modal (background) */
.schedule-modal {
  display: none; /* Hidden by default */
  position: fixed; 
  left: 10%;
  width: 80%;
  height: max-content;
  background-color: white;
  border-radius: 10px;
  border-color:#D3D3D3;
  border-style: solid;
  border-width: thin;
  z-index: 1;
  transform: translateY(-80%);
  box-shadow: 0 0 0 100vmax rgba(0,0,0,.8);
}

.react-time-picker__wrapper {
  background: white;
  border: none !important;
}

.react-date-picker__wrapper {
  background: white;
  border: none !important;
}
