
  
/* react calendar */
.react-calendar { 
  width: 70%;
  max-width: 70%;
  color: white;
  box-shadow: 0 .5vw 1vw rgba(0, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  margin: 0 auto;
  }

.highlight {
  background-color: rgb(255, 179, 65) !important; 
}
  
  
